

<div class="ui grid">
	<div class="one wide column">
		</div>
	<div class="fourteen wide column">
		<div class="ui purple segment">
			<h1 class="ui black header"><%= @article.title %></h1>
			<%= raw @article.content %>
		</div>
	</div>
	<div class="one wide column"></div>
</div>


