

<div class="ui grid">
	<div class="four wide column">
		<div class="ui center aligned red segment">
			<div class="ui red top attached label"></div>
			</br>
			<strong><%= @article.time %></strong>
		</div>
	</div>
	<div class="twelve wide column">
		<div class="ui purple segment">
			<h1 class="ui black header"><%= @article.title %></h1>
			<%= raw @article.content %>
		</div>
	</div>
</div>


