<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%=raw @article.content %>
</p>

<p>
  <strong>Time:</strong>
  <%= @article.time %>
</p>


