<footer class="footer">
  <small>
    <a href="http://yelinyan.com">Developed by 叶林颜.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "西南财经大学",'http://www.swufe.edu.cn/',:style=>"color:#0099CC" %></li>
      <li><%= link_to "西南财经大学会计学院", 'http://kj.swufe.edu.cn/',:style=>"color:#0099CC" %></li>
      <li><%= link_to "西南财经大学校团委", 'http://tw.swufe.edu.cn/',:style=>"color:#0099CC" %></li>
      <li><%= link_to "光华园", 'http://www.ghy.swufe.edu.cn/',:style=>"color:#0099CC" %></li>
    </ul>
  </nav>
</footer>
